#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: black;
  color: white;
  font-family: sans-serif;
}
body {
  overflow-x: hidden;
}
#animate {
  width: fit-content;
  height: 50px;
  position: absolute;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#animate p {
  width: 300px;
}
